.navbar{
  width: 100%;
  min-height: 70px;
  height: 70px;
  background-color: rgb(34,37,41);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.7rem;
  color: yellow;
  cursor: default;
  position: fixed;
  z-index: 999;
}
.innerNavbar{
  max-width: 1080px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: 'Black Ops One', system-ui;

  a{
    color: yellow;
    font-size: 3rem;
  }
}
.section{
  display: flex;
  align-items: center;
  justify-content: center;
}